{{> ../components/header }}

  {{> ../components/image-hero }}

  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="content">

        <h1 mc:edit="heading" style="text-align: left;">{{ heading6 }}</h1>
        
        <br />
        {{#body8}}
          {{> ../components/text }}
        {{/body8}}

        {{#button7}}
          {{> ../components/button }}
        {{/button7}}

      </td>
    </tr>
  </table>

{{> ../components/footer }}