<html>
  <head>
    <link rel="stylesheet" href="presentation.css">
  </head>
  <body>
    {{> ../components/navigation }}
    <iframe style="width: 100%" class="display" src="templates/email-signatures.html"></iframe>
  </body>
</html>