<html>
  <head>
    <link rel="stylesheet" href="presentation.css">
  </head>
  <body>
    {{> ../components/navigation }}
    <div class="display">
      <iframe class="display" src="templates/gift-card.html"></iframe>
      <textarea readonly class="code">{{> ../templates/gift-card }}</textarea>
    </div>
  </body>
</html>