<html>
  <head>
    <link rel="stylesheet" href="presentation.css">
  </head>
  <body>
    {{> ../components/navigation }}
    <div class="display">
      <iframe src="templates/illustration-hero_3-features.html"></iframe>
      <textarea readonly >{{> ../templates/illustration-hero_3-features }}</textarea>
    </div>
  </body>
</html>