<html>
  <head>
    <link rel="stylesheet" href="presentation.css">
  </head>
  <body>
    {{> ../components/navigation }}
    <div class="display">
      <iframe src="templates/welcome-2.html"></iframe>
      <textarea readonly >{{> ../templates/welcome-2 }}</textarea>
    </div>
  </body>
</html>