<table role="presentation" mc:hideable border="0" cellpadding="0" cellspacing="0" class="btn {{^outline}}btn-primary{{/outline}}" style="margin-top: 32px;">
  <tbody>
    <tr>
      <td align="center">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td><div mc:edit="{{ id }}"><a href="{{{ url }}}" target="_blank">{{ label }}</a></div></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>