<div mc:hideable>
  <hr style="margin-top: 24px" />
  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="illustration" align="center">
        <h2 mc:edit="heading">{{ heading }}</h2>
        <p mc:edit="blurb">{{ blurb }}
        {{#button}}
          {{> ../../components/button }}
        {{/button}}
      </td>
    </tr>
    <tr>
      <td> &nbsp; </td>
    </tr>
  </table>
</div>