<div>
  <center>
    <p>Use the code below when you register. </p>
  </center>
  <div class="gift-code">
    {{{ code }}}
  </div>
  {{#button}}
    <center>
      {{> ../../components/gift-card/button }}
    </center>
  {{/button}}
</div>