  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="illustration" align="center">
        <img src="{{{ root }}}{{{ illustration }}}" width="210" height="210" />
        <br />
        <br />
        <h1>Someone bought you a gift from <a href="https://papercranefactory.com">Paper Crane Factory!</a></h1>
        <div class="gift-description">$50 Paper Crane Factory Giftcard</div>
      </td>
    </tr>
  </table>